<b><font size="5" color="red"> ch03. 데이터 구조 </font></b>

### 1. 리스트

#### 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값을 하나의 변수에 저장/관리할 수 있음
- 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨 마지막 인덱스는 -1
- 슬라이싱 : 부분 데이터셋을 뽑아 내는 것. 인덱스를 이용해서 쓰기와 읽기를 지원

In [17]:
fruits = ['banana','apple','orange','grape']
type(fruits)

list

In [2]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [3]:
print(fruits[0])

banana

In [12]:
list(range(6)) # range(from,to,by) ; from 부터 to 바로 앞까지 by씩 증가되면서 만들어진 list
                    # from 생략시 0부터 / by 생략시 1씩

[0, 1, 2, 3, 4, 5]

In [13]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [14]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [15]:
for i in range(5):
    print(i, end='\t')

0	1	2	3	4

In [19]:
# 0번째는 : banana..
for idx in range(len(fruits)):
    print('{}번째 : {}'.format(idx,fruits[idx]))

0번째 : banana
1번째 : apple
2번째 : orange
3번째 : grape

In [21]:
# 2차원 리스트
numbers_2d = [[1,2,3,4,5,],[10,20,30,40,50],[1,3,5,7,9],[2,4,6,8,10]]
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [23]:
print(numbers_2d[1])
print(numbers_2d[1][0])

[10, 20, 30, 40, 50]
10

In [26]:
for row in numbers_2d:
    for data in row:
        print(data,end='\t')
    print()

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [29]:
for i in range(len(numbers_2d)):
    for j in range(len(numbers_2d[i])):
        print('{}행 {}열의 데이터는 {:2}'.format(i,j,numbers_2d[i][j]))

0행 0열의 데이터는  1
0행 1열의 데이터는  2
0행 2열의 데이터는  3
0행 3열의 데이터는  4
0행 4열의 데이터는  5
1행 0열의 데이터는 10
1행 1열의 데이터는 20
1행 2열의 데이터는 30
1행 3열의 데이터는 40
1행 4열의 데이터는 50
2행 0열의 데이터는  1
2행 1열의 데이터는  3
2행 2열의 데이터는  5
2행 3열의 데이터는  7
2행 4열의 데이터는  9
3행 0열의 데이터는  2
3행 1열의 데이터는  4
3행 2열의 데이터는  6
3행 3열의 데이터는  8
3행 4열의 데이터는 10

#### 1.2 기본 정보 조회

In [33]:
numbers = [1,2,3,4,5]
numbers_2d = [[1000,2,3,4,5],[10,20,30,40,50],[1,3,5,7,9],[2,4,6,8,10]]

In [34]:
# 요소 수
print('numbers의 요소수 : ',len(numbers))
print('numbers_2d의 요소수 : ',len(numbers_2d))

numbers의 요소수 :  5
numbers_2d의 요소수 :  4

In [35]:
# 최소값 min, 최대값 max
min(numbers),max(numbers)

(1, 5)

In [36]:
# 2차원 리스트에서는 max()함수는 부분 리스트 중 첫 요소가 가장 큰 값을 갖는 리스트를 반환
#                  min()함수는 부분 리스트 중 첫 요소가 가장 작은 값을 갖는 리스트를 반환
min(numbers_2d),max(numbers_2d)

([1, 3, 5, 7, 9], [1000, 2, 3, 4, 5])

#### 1.3 요소추가

In [37]:
# + 두 리스트를 연결
# * 리스트를 곱한 수 만큼 반복
# append() 요소를 맨뒤에 추가
# extend() 리스트를 요소별로 맨 뒤에 추가
# insert() 지정된 index 위치에 삽입

In [38]:
numbers = [1,2,3,4,5]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [39]:
numbers = [1,2,3,4,5]
print(numbers*3) # 반복

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [40]:
# append()함수 이용
# 요소의 맨뒤에 추가 
numbers =[1,2,3]
numbers.append(4)
numbers

[1, 2, 3, 4]

In [44]:
# extend()
numbers=[1,2,3]
num=[4,5,6]
numbers.extend(num)
numbers

[1, 2, 3, 4, 5, 6]

In [45]:
#insert(idx,추가할내용) : idx번재 인덱스에 추가할 내용 삽입
numbers = [1,2,3,4,5]
numbers.insert(1,'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

#### 1.4 인덱싱

- count() : 리스트에서 데이터의 개수 반환
- index() : 해당 요소의 위치 반환
- [index] : 인덱스를 이용한 접근

In [49]:
numbers = [1,2,3,[1,2,3],1,2,3]
numbers_2d = [[1,2,3],[1,2,3]]
print(numbers)
print(numbers_2d)

[1, 2, 3, [1, 2, 3], 1, 2, 3]
[[1, 2, 3], [1, 2, 3]]

In [50]:
numbers.count(2)

2

In [51]:
# 없는건 0
numbers.count(9)

0

In [52]:
numbers.count([1,2,3])

1

In [53]:
numbers_2d.count(2)

0

In [54]:
numbers_2d.count([1,2,3])

2

In [55]:
# 0번째 인덱스 부터 처음 나오는 2의 인덱스
numbers.index(2)

1

In [56]:
# 4번째 인덱스 아후부터 처음 나오는 2의 인덱스
numbers = [1,2,3,[1,2,3],1,2,3]
numbers.index(2,4)
# index함수는 없는 값을 찾으면 에러 난다.

5

#### 1.5 원하는 리스트 내용만 추출 ; 리스트 슬라이싱 - 인덱스 보다 많이 쓴다.

- [from : to : by] ; from 부터 to 바로 앞까지 by번 증가하는 index 아이템 추출
                       from,to,by 생략 가능
                       인덱스는 음수 가능

In [58]:
numbers =[1,2,3,4,5]

In [60]:
numbers[2:9] # 2부터 9번 인덱스 바로 앞까지. 에러 안난다.

[3, 4, 5]

In [61]:
numbers[::-1]

[5, 4, 3, 2, 1]

In [62]:
numbers[::]

[1, 2, 3, 4, 5]

In [64]:
numbers[-5:-1]

[1, 2, 3, 4]

In [65]:
numbers[-1:-5] # -1부터 -5바로 전까지 1씩 인덱스를 전진하며 액세스

[]

In [66]:
numbers_2d = [[1,2,3],[10,20,30],[11,12,13],[21,22,23]]
numbers_2d[1:3]

[[10, 20, 30], [11, 12, 13]]

In [67]:
numbers_2d[0][1:3]

[2, 3]

In [68]:
# 람다식을 이용해서 list의 원하는 데이터 엑세스

In [71]:
numbers = [1,3,5,9,10,12,13,18,19,20]
# 모든 데이터 다 가져오기
#for data in numbers:
#    print(data)
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [72]:
# 짝수 데이터만 가져오기
[x for x in numbers if x%2==0]

[10, 12, 18, 20]

In [73]:
# 10이상의 데이터만 list로 가져오기
[data for data in numbers if data>=10]

[10, 12, 13, 18, 19, 20]

In [74]:
# 과일의 글씨가 5글자 이상인 과일만 추출
fruits = ['orange','apple','mango','kiwi']

In [75]:
[x for x in fruits if len(x)>=5]

['orange', 'apple', 'mango']

In [77]:
# 리스트의 제곱을 추출하라
L = [1,2,3,4,5]
[x**2 for x in L ]

[1, 4, 9, 16, 25]

In [78]:
# 리스트의 세제곱을 추출하라
L = [1,2,3,4,5]
[x**3 for x in L]

[1, 8, 27, 64, 125]

In [79]:
# 리스트 값의 두배의 수를 추출하라
L = [1,2,3,4,5]
[x*2 for x in L]

[2, 4, 6, 8, 10]

#### 1.6 요소 수정하기

In [7]:
numbers =[0,1,2,3,4,5,6,7,8,9]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
numbers[2]=222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [9]:
numbers[0:5]=[999,999,999] # 부분리스트를 통째로 바꿈
numbers

[999, 999, 999, 5, 6, 7, 8, 9]

In [10]:
numbers[0:5]=[111,111,111,111,111,111,111]
numbers

[111, 111, 111, 111, 111, 111, 111, 7, 8, 9]

In [11]:
numbers=[0,1,2,3,4,5,6,7,8,9]
numbers[0:5]=numbers[5:]
numbers

[5, 6, 7, 8, 9, 5, 6, 7, 8, 9]

In [12]:
# 슬라이싱에서 by를 추가
numbers=[0]*10
print('수정전 : ',numbers)
numbers[::2]=[99,99,99,99,99]
print('수정후 : ',numbers)

수정전 :  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 :  [99, 0, 99, 0, 99, 0, 99, 0, 99, 0]

In [13]:
#  슬라이싱에서 by가 포함될 경우 바꾸련느 값의 개수가 맞아야 한다.
numbers[::2]=[11,11,11]

ValueError: attempt to assign sequence of size 3 to extended slice of size 5

#### 1.7 삭제하기
- pop() : 가장 마지막 요소가 반환되고 삭제. pop(n) : n번째 요소가 반횐되고 삭제
- remove() : remove(data) 해당 데이터가 삭제
- del xx[n]

In [15]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers)
print(numbers.pop())
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
print(numbers.pop(2))
print(numbers)

2
[0, 1, 3, 4, 5, 6, 7, 8]

In [18]:
numbers_2d=[[1,2,3],[10,20,30],[100,100,100]]
print('pop전 ',numbers_2d)
print(numbers_2d.pop())
print('pop후 ', numbers_2d)

pop전  [[1, 2, 3], [10, 20, 30], [100, 100, 100]]
[100, 100, 100]
pop후  [[1, 2, 3], [10, 20, 30]]

In [19]:
numbers=[0,1,2,3,4,5,6,7,8,9]
print(numbers.remove(5)) # remove는 반환값이 없음
print(numbers)

None
[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [20]:
print(numbers)
del numbers[2]
print(numbers)

[0, 1, 2, 3, 4, 6, 7, 8, 9]
[0, 1, 3, 4, 6, 7, 8, 9]

In [21]:
del numbers

In [22]:
numbers=[0,1,2,3,4]
numbers.clear()
numbers

[]

#### 1.8 정렬하기

In [24]:
numbers = [9,5,1,0,6,4,2,8]
numbers.sort() # 기본 정렬 오름차순. sort()실행 후 리스트가 바뀜
numbers[::-1] # 내림차순처럼 보이나 numbers 내림차순으로 정렬된 것이 저장되지 않음

[0, 1, 2, 4, 5, 6, 8, 9]

In [26]:
numbers.sort(reverse=True)
numbers

[9, 8, 6, 5, 4, 2, 1, 0]

In [28]:
numbers.reverse()
numbers

[0, 1, 2, 4, 5, 6, 8, 9]

In [33]:
numbers=[6,2,7,4,10]
new_numbers=numbers # 정렬전 데이터를 new_numbers로
numbers.sort() # numbers는 정렬된 데이터로
print('정렬전 데이터 : ', new_numbers)
print('정렬후 데이터 : ', numbers)
print('new_numbers 주소 : ', id(new_numbers))
print('numbers 주소 : ',id(numbers))

정렬전 데이터 :  [2, 4, 6, 7, 10]
정렬후 데이터 :  [2, 4, 6, 7, 10]
new_numbers 주소 :  2844813222592
numbers 주소 :  2844813222592

In [34]:
# 복제
numbers = [6,2,7,4,10]
new_numbers = numbers.copy() # new_numbers에 numbers 데이터를 복제
numbers.sort()
print('정렬 전 : ',new_numbers)
print('정렬 후 : ',numbers)
print('new_numbers 주소 : ', id(new_numbers))
print('numbers 주소 : ',id(numbers))

정렬 전 :  [6, 2, 7, 4, 10]
정렬 후 :  [2, 4, 6, 7, 10]
new_numbers 주소 :  2844813204736
numbers 주소 :  2844813210816

In [36]:
city=['서울','부산','대구','인천','광주','울산']
city.sort()
city

['광주', '대구', '부산', '서울', '울산', '인천']

### 2. 튜플
- 리스트와 유사하지만, 읽기 전용. 수정이 필요없는 데이터 타입에서 사용
- 수정이 불가하므로 튜플에 데이터 추가, 수정, 삭제 불가. 제공되는 함수 적다.

In [38]:
city=('서울','부산','인천','대구','대전')
type(city)

tuple

In [44]:
'_'.join(city)

'서울_부산_인천_대구_대전'

In [1]:
l=['서울']
print(type(l))
print(l)

<class 'list'>
['서울']

In [3]:
city=('서울') # str로 나온다
print(type(city))
print(city)
city=('서울',) # 요소가 하나 있는 튜플은 뒤에 쉼표하나를 추가해 주어야 한다.
print(type(city))
print(city)

<class 'str'>
서울
<class 'tuple'>
('서울',)

In [7]:
numbers=(1,2,1,2,3)
min(numbers),max(numbers),len(numbers)

(1, 3, 5)

In [8]:
numbers.count(2)

2

In [9]:
numbers.index(3)

4

In [10]:
data =(0,1,2,3,4,(5,6))
data[2:5]

(2, 3, 4)

In [11]:
data[::-1]

((5, 6), 4, 3, 2, 1, 0)

In [13]:
data = ((100,2,3),(10,20,30))
max(data)

(100, 2, 3)

In [14]:
data = ('서울',2,True)
data*3

('서울', 2, True, '서울', 2, True, '서울', 2, True)

### 3. 딕셔너리
- 중괄호 {} 를 이용해서 딕셔너리 생성. 키(key)-값(value)의 쌍으로 구성된 자료구조
- 키는 유일한 값(중복허용안함),키(key)에 리스트는 사용불가능.튜플은 가능
- 값은 중복 가능. 모든 데이터 타입이 가능
- 없는 키 값 참조하면 에러 발생. 인덱스를 이용한 참조는 지원안함

In [15]:
dic = {'key1':'value',
      'key2':'value'}
len(dic) # 데이터 구조의 요소의 개수

2

In [16]:
my_favorite = {'fruit':'apple','number':1,'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 1, 'sport': 'golf'}

In [19]:
# 인덱스를 이용한 참조가 지원되지 않는다.
# 키목록에 없는 데이터는 참조시 에러발생
# 데이터 참조하는 방법.
my_favorite.get('fruit')
my_favorite['fruit']

'apple'

In [20]:
# 요소 변경
my_favorite = {'fruit':'apple','number':1,'sport':'golf'}
my_favorite['fruit'] = 'banana'
my_favorite

{'fruit': 'banana', 'number': 1, 'sport': 'golf'}

In [21]:
# 키 : 문자, 숫자, 튜플. 중복불가
# 값 : 모든 문자 타입, 중복가능
my_dic1 = {1:'Hello',2:'World',2:'Python'} 
my_dic1 # 키가 중복이면 값이 1개 무시된다. 뒤에 나온값으로 업데이트되는 형태

{1: 'Hello', 2: 'Python'}

In [23]:
# 요소 추가
my_dic1['people']=['홍길동','홍길순'] # my_dic1에 요소 추가
my_dic1['study'] = ['python','hadoop']
my_dic1

{1: 'Hello',
 2: 'Python',
 'people': ['홍길동', '홍길순'],
 'study': ['python', 'hadoop']}

In [24]:
# 요소 삭제
del my_dic1['study']
my_dic1

{1: 'Hello', 2: 'Python', 'people': ['홍길동', '홍길순']}

In [26]:
my_dic2={'name':'Hong','name':'KilDong','age':30}
my_dic2

{'name': 'KilDong', 'age': 30}

In [28]:
my_dic3 = {1:'Hello',True:'World',False:'Python',0:'Hadoop'}
my_dic3 # True = 1, False =0 으로 인식됨으로 키값 중복으로 나중에 나온 값으로 업데이트.

{1: 'World', False: 'Hadoop'}

In [33]:
my_list = ['홍길동',25,'010-9999-9999']
my_tupple = ('홍길동',25,'010-9999-9999')
for data in my_list:
    print(data)
for idx in range(len(my_list)):
    print('{}번째 데이터 {}'.format(idx,my_tupple[idx]))

홍길동
25
010-9999-9999
0번째 데이터 홍길동
1번째 데이터 25
2번째 데이터 010-9999-9999

In [35]:
my_dic = {'name':'홍길동','age':25,'tel':'010-9999-9999'}
for data in my_dic:
    print(my_dic[data])

홍길동
25
010-9999-9999

In [37]:
my_dic.keys() # 키 목록 출력

dict_values(['홍길동', 25, '010-9999-9999'])

In [39]:
my_dic.values() # 값 출력

dict_values(['홍길동', 25, '010-9999-9999'])

In [40]:
my_dic.items() # 키,값 쌍을 튜플로 출력

dict_items([('name', '홍길동'), ('age', 25), ('tel', '010-9999-9999')])

In [42]:
for value in my_dic.values():
    print(value, end='\t')

홍길동	25	010-9999-9999

In [43]:
for item in my_dic.items():
    print(item)

('name', '홍길동')
('age', 25)
('tel', '010-9999-9999')

In [45]:
for key,value in my_dic.items():
    print('{}은 {}.'.format(key,value))

name은 홍길동.
age은 25.
tel은 010-9999-9999.

In [53]:
##**in 연산자** : 키가 있는지 여부를 리턴
my_favorite = {'fruit':'apple','number':1,'sport':'golf'}
print('golf' in my_favorite)
print('sport' in my_favorite)

False
True

In [51]:
#복제와 할당
my_favorite
new_my_favorite = my_favorite 
# 주소만 할당, 원본이 바뀌면 할당된 데이터도 변경
print('new_my_favorite : ', new_my_favorite)
print('my_favorite : ', my_favorite)
my_favorite['number']='다좋아'
print('new_my_favorite : ', new_my_favorite)
print('my_favorite : ', my_favorite)

new_my_favorite :  {'fruit': 'apple', 'number': 1, 'sport': 'golf'}
my_favorite :  {'fruit': 'apple', 'number': 1, 'sport': 'golf'}
new_my_favorite :  {'fruit': 'apple', 'number': '다좋아', 'sport': 'golf'}
my_favorite :  {'fruit': 'apple', 'number': '다좋아', 'sport': 'golf'}

In [54]:
#복제와 할당
my_favorite
new_my_favorite = my_favorite.copy()
# 복제.
print('new_my_favorite : ', new_my_favorite)
print('my_favorite : ', my_favorite)
my_favorite['number']='다좋아'
print('new_my_favorite : ', new_my_favorite)
print('my_favorite : ', my_favorite)

new_my_favorite :  {'fruit': 'apple', 'number': 1, 'sport': 'golf'}
my_favorite :  {'fruit': 'apple', 'number': 1, 'sport': 'golf'}
new_my_favorite :  {'fruit': 'apple', 'number': 1, 'sport': 'golf'}
my_favorite :  {'fruit': 'apple', 'number': '다좋아', 'sport': 'golf'}

### 4. SET
- 중복 허용하지 않는 집합(순서X)
- 중괄호 { }나 set()함수를 이용해서 셋 생성
       ; set(딕셔너리타입의변수) : 딕셔너리변수의 키만 셋에 추가
- 집합연산자 (& : 교집합, | : 합집합, - : 차집합)

In [56]:
fruits = {'apple','orange','banana','banana'}
fruits

{'apple', 'banana', 'orange'}

In [57]:
s1 = set([1,2,3,1])
s1

{1, 2, 3}

In [59]:
s1.add(4)
s1

{1, 2, 3, 4}

In [60]:
#add
s1.add((5,6,7,8,9)) # add안에는 일반 수나 튜플만 들어올 수 있다. 
s1

{(5, 6, 7, 8, 9), 1, 2, 3, 4}

In [61]:
#update
s1 ={1,2,3,4}
s1.update([5,6,7,8,9])
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [62]:
s1.update({'name':'kildong'})# 딕셔너리는 킥밧만 추가
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'name'}

In [63]:
#remove
s1.remove('name') # 특정 요소 삭제 (없는 데이터일 경우 에러)
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [64]:
s1 = {0,False,True,1} # False와 0, True와 1을 같은 값으로 간주
s1

{0, True}

In [65]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s1,s2

({1, 2, 3, 4, 5, 6}, {4, 5, 6, 7, 8, 9})

In [67]:
# 합집합
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [68]:
# 교집합
s1&s2

{4, 5, 6}

In [69]:
# 차집합
s1-s2

{1, 2, 3}

In [70]:
for i in s1:
    print(i)

1
2
3
4
5
6

In [71]:
names = {'kildong','kilja','sunja'}
for name in names:
    print(name)

kilja
sunja
kildong

### 5. enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 때 인덱스 처리를 해결

In [75]:
for index, name in enumerate(names):
    print('{}번째 이름 : {}.'.format(index,name))

0번째 이름 : kilja.
1번째 이름 : sunja.
2번째 이름 : kildong.

In [77]:
# 인덱스가 존재하는 객체도 사용은 가능
L = ['길자','순자','길동']
for idx, name in enumerate(L):
    print('{}번째 : {}'.format(idx,name))

0번째 : 길자
1번째 : 순자
2번째 : 길동

In [78]:
dic = {'name':'홍길동','age':35,'address':'마포'}
for idx, (key, value) in enumerate(dic.items()):
    print('{}번째 키는 {}, 값은 {}'.format(idx,key,value))

0번째 키는 name, 값은 홍길동
1번째 키는 age, 값은 35
2번째 키는 address, 값은 마포

### 연습문제

In [133]:
#1
numbers=[1,2,3,4,5,6,7,8,9,10]
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [134]:
#2
data=[200,300,400,500]
numbers.append(data)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, [200, 300, 400, 500]]

In [135]:
#3
numbers[:5]

[1, 2, 3, 4, 5]

In [136]:
#4
numbers[::2]

[1, 3, 5, 7, 9, 100]

In [137]:
#5
numbers[::2]=[0,0,0,0,0,0]
numbers

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, [200, 300, 400, 500]]

In [139]:
#6
numbers[::-1]

[[200, 300, 400, 500], 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [143]:
#7
member_info = {'name':'홍길동','age':20,'address':'서울시 마포구','score':90}
member_info['address']

'서울시 마포구'

In [144]:
#8
print(member_info['score'])
del member_info['score']

90

In [146]:
#9
member_info['address']='서울시 서대문구'
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [147]:
#10
for value in member_info.values():
    print(value)

홍길동
20
서울시 서대문구

### 연습문제

In [148]:
#1
L1 = ("orange","apple","banana",'kiwi')
new_list =[i for i in L1 if len(i)>5]
print(new_list)

['orange', 'banana']

In [152]:
#2
print(list(range(10)))
print(list(range(5,10)))
print(list(range(10,0,-1)))
print(list(range(10,20,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 12, 14, 16, 18]

In [153]:
#3
numbers_2d = [[1,2,3,4,5],[10,20,30,40],[1,3,5],[2,]]
len(numbers_2d[3])

1

In [154]:
#4
numbers=[1,2,3,4,5]
numbers.extend([10,20,30,40,50])
numbers

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [155]:
#5
numbers=list(range(10))
numbers[::2]=[0]*len(numbers[::2])
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [156]:
#6
numbers=[0,1,2,3,4,5,6,7,8,9]
numbers[::2]=numbers[5:]
print(numbers)

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [157]:
#7
numbers=[0,1,2,3,4,5,6,7,8,9]
numbers[::2]=numbers[:5]
print(numbers)

[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

In [160]:
#8
my_dic = {"a":10,"b":20,"c":30}
print(my_dic['a'])
print(list(my_dic.items())[0][1])
print(list(my_dic.values())[0])
print(my_dic.get('a'))

10
10
10
10