**<font size="6" color="red">ch12. 데이터프레임과 시리즈(Pandas)</font>**

# 8절. 데이터 그룹화 및 집계

In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
iris_df = sm.datasets.get_rdataset('iris',package='datasets').data
iris_df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## 8.1 Group by

In [6]:
iris_grouped = iris_df.groupby(iris_df.Species)
iris_grouped['Sepal.Length','Sepal.Width'].mean()

<ipython-input-6-fc84425ddbd8>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  iris_grouped['Sepal.Length','Sepal.Width'].mean()

            Sepal.Length  Sepal.Width
Species
setosa             5.006        3.428
versicolor         5.936        2.770
virginica          6.588        2.974

In [8]:
# pivot_table 기본값은 mean 
# 연산은 agfunc에 기입
iris_df.pivot_table(index='Species',values=['Sepal.Length','Sepal.Width'],aggfunc='sum')

            Sepal.Length  Sepal.Width
Species
setosa             250.3        171.4
versicolor         296.8        138.5
virginica          329.4        148.7

In [12]:
iris_grouped = iris_df.groupby(iris_df.Species)

In [13]:
iris_grouped.count()

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa                50           50            50           50
versicolor            50           50            50           50
virginica             50           50            50           50

In [16]:
iris_df.loc[1,'Sepal.Length'] = np.nan

In [18]:
import random
rownum = random.sample(range(len(iris_df)),4)
rownum

[131, 96, 137, 104]

In [19]:
for row in rownum:
    iris_df.loc[row,'Sepal.Length'] = np.nan

In [20]:
iris_df.loc[rownum,'Sepal.Length']

131   NaN
96    NaN
137   NaN
104   NaN
Name: Sepal.Length, dtype: float64

In [22]:
iris_grouped = iris_df.groupby(iris_df.Species)
iris_grouped.count()

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa                49           50            50           50
versicolor            49           50            50           50
virginica             47           50            50           50

**다중 열로 그룹화**

In [25]:
iris_df.groupby([iris_df.Species,iris_df['Sepal.Length']]).mean()

                         Sepal.Width  Petal.Length  Petal.Width
Species    Sepal.Length
setosa     4.3              3.000000      1.100000     0.100000
           4.4              3.033333      1.333333     0.200000
           4.5              2.300000      1.300000     0.300000
           4.6              3.325000      1.325000     0.225000
           4.7              3.200000      1.450000     0.200000
           4.8              3.180000      1.580000     0.200000
           4.9              3.266667      1.466667     0.133333
           5.0              3.362500      1.450000     0.287500
           5.1              3.600000      1.562500     0.312500
           5.2              3.666667      1.466667     0.166667
           5.3              3.700000      1.500000     0.200000
           5.4              3.660000      1.540000     0.320000
           5.5              3.850000      1.350000     0.200000
           5.7              4.100000      1.600000     0.350000
           5.8              4.000000      1.200000     0.200000
versicolor 4.9              2.400000      3.300000     1.000000
           5.0              2.150000      3.400000     1.000000
           5.1              2.500000      3.000000     1.100000
           5.2              2.700000      3.900000     1.400000
           5.4              3.000000      4.500000     1.500000
           5.5              2.440000      3.980000     1.180000
           5.6              2.820000      4.060000     1.300000
           5.7              2.800000      4.075000     1.200000
           5.8              2.666667      4.000000     1.133333
           5.9              3.100000      4.500000     1.650000
           6.0              2.800000      4.525000     1.425000
           6.1              2.875000      4.500000     1.325000
           6.2              2.550000      4.400000     1.400000
           6.3              2.700000      4.666667     1.466667
           6.4              3.050000      4.400000     1.400000
           6.5              2.800000      4.600000     1.500000
           6.6              2.950000      4.500000     1.350000
           6.7              3.066667      4.700000     1.533333
           6.8              2.800000      4.800000     1.400000
           6.9              3.100000      4.900000     1.500000
           7.0              3.200000      4.700000     1.400000
virginica  4.9              2.500000      4.500000     1.700000
           5.6              2.800000      4.900000     2.000000
           5.7              2.500000      5.000000     2.000000
           5.8              2.733333      5.100000     2.066667
           5.9              3.000000      5.100000     1.800000
           6.0              2.600000      4.900000     1.650000
           6.1              2.800000      5.250000     1.600000
           6.2              3.100000      5.100000     2.050000
           6.3              2.933333      5.366667     1.983333
           6.4              2.875000      5.450000     2.125000
           6.5              3.066667      5.266667     1.933333
           6.7              3.040000      5.600000     2.220000
           6.8              3.100000      5.700000     2.200000
           6.9              3.133333      5.400000     2.233333
           7.1              3.000000      5.900000     2.100000
           7.2              3.266667      5.966667     1.966667
           7.3              2.900000      6.300000     1.800000
           7.4              2.800000      6.100000     1.900000
           7.6              3.000000      6.600000     2.100000
           7.7              3.050000      6.600000     2.200000